<p class='saying'>... of the people, <b>by the people</b>, for the people... </p>

<p>Our government is in disarray.  Congress is almost completely dysfuntional.  We constantly hear about grid lock and see congress people voting in their own best interests.  It's time to take a hand in the running of our country and remind our elected officials who elected them.</p>

<p>Our elected officials are supposed to represent us.  It appears that they are much more interested in representing themselves and their ideas rather than listening to <b>we the people</b> and enacting legislation that is in our best interest and the best interest of our country.</p>

<p>Citizen Approved is designed to let congressional representatives know what their constitutents think about issues before each house of Congress.  You can vote on the issues before Congress and your representative can see how their constitutents feel.  If they don't vote the way the majority of the constitutents want them to, then vote for someone else in the next election.</p>

<p>The American people aren't grid locked.  The American people aren't interested in the desires of special interest groups, political action committees, big businesses, or paid lobbyists.  The American people are interested in what is best for this country.  When Congress starts listening to the American people and voting the way the people desire then our government will start working correctly.</p>

<p><%= link_to "Sign up", "/voters/sign_up" %> now and join the effort to fix our government and fix our country.</p>