<h1>Current Bill Sentiment</h1>
<table>
  <theading>
    <tr>
      <th>Bill</th>
      <th>For</th>
      <th>Against</th>
      <th>Delegate</th>
    </tr>
  </theading>
  <tbody>
    <% @bills.each do |b| %>
      <tr>
        <td><%= b.title %></td>
        <td class="number"><%= b.votes.where("choice = ?", "yes").size %></td>
        <td class="number"><%= b.votes.where("choice = ?", "no").size %></td>
        <td class="number"><%= b.votes.where("choice = ?", "delegate").size %></td>
      </tr>
    <% end %>
  </tbody>
</table>
