<span id="district_options">
  <div class="field">
    <%= label_tag "House District" %><br />
    <%= select(:voter, :house_district_id,
	options_helper(District.house_districts(state_code))) %>
  </div>
</span>
