/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

div.content {
    width: 80%;
    margin: 0 auto;
}

#login {
    float: right;
    margin: 15px;
    padding: 20px;
    background-color: lightblue;
    border-radius: 10px;
}

#login a {
    margin: 10px;
}

#banner {
  background-color: #bbf;
  a {
    padding: 10px;
    text-decoration: none;
  }
}

a {
  padding: 10px;
  text-decoration: none;
}

div.field {
    margin: 10px;
}

body {
  background-color: #eee;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.saying {
  font-style: italic;
  text-align: center;
  b {
    font-size: 150%;
  }
}

p a {
  padding: 0;
}

p.footer {
  color: white;
  text-align: center;
  font-size: smaller;
  font-style: italic;
  background-color: #88f;
}